/* JetBrains Mono (SIL Open Font License 1.1) — the first family in Atlas's
   `--font-mono` stack. Shipped so code surfaces in rendered designs match the
   app instead of falling back to the browser's default monospace.
   Source: @fontsource/jetbrains-mono, latin subset. */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./jetbrains-mono-latin-400-normal.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./jetbrains-mono-latin-500-normal.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./jetbrains-mono-latin-600-normal.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./jetbrains-mono-latin-700-normal.woff2") format("woff2");
}
